.coWidget {
	position: absolute;
	right: 0;
	top: 5px;
}

.coWidget a {
	font-size: 14px;
	color: #c4c4c4;
	margin-left: 8px;
}

.coItem {
	position: relative;
	padding-left: 30px;
	margin-bottom: 35px;
}

.coItem:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	height: 100%;
	background: #363636;
	content: "";
}

.coItem .coPic {
	overflow: hidden;
	margin-bottom: 12px;
}

.coItem .coPic img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	float: left;
	margin-right: 10px;
}

.coItem .coPic h5 {
	color: #ffffff;
	overflow: hidden;
	line-height: 30px;
}

.coItem .coText p {
	color: #c4c4c4;
	margin-bottom: 0;
}