/* .likeButton {
    color: white;
    background-color: #f36100;
    padding: 1em;
    margin: 0 auto;
    margin-bottom: 8em;
    font-weight: bold;
    align-items: center;
}

.likeButton i {
    margin-left: 0.5em;
} */
.parentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.likeButton {
    color: white;
    background-color: #f36100;
    padding: 1em;
    margin-bottom: 8em;
    font-weight: bold;
    display: flex; 
    align-items: center;
}

.likeButton i {
    margin-left: 0.5em;
}