@media only screen and (max-width: 767px) {
    .recipesSection {
        padding-left: 2em;
        padding-right: 2em;
    }
}

.recipesSection {
	background: #151515;
    padding-top: 5em;
    padding-bottom: 5em;
}

.recipesSection .sidebarOption {
	padding-left: 70px;
}

.recipesSection h2 {
    color: white;
}

.recipesSection .itemC {
    padding-bottom: 2em;
}