.footerSection {
	background: #000000;
	padding-top: 50px;
}

.fsAbout {
	margin-bottom: 30px;
}

.fsAbout .faLogo {
	margin-bottom: 30px;
}

.fsAbout .faLogo a {
	display: inline-block;
}

.fsAbout p {
	line-height: 26px;
	color: #c4c4c4;
}

.fsAbout .faSocial a {
	font-size: 14px;
	color: #c4c4c4;
	margin-right: 10px;
}

.fsAbout .faSocial a:last-child {
	margin-right: 0;
}

.fsWidget {
	margin-bottom: 30px;
}

.fsWidget h4 {
	color: #ffffff;
	font-weight: 600;
	margin-bottom: 18px;
}

.fsWidget ul li {
	list-style: none;
}

.fsWidget ul li a {
	font-size: 14px;
	color: #c4c4c4;
	line-height: 30px;
}

.fsWidget .fwRecent {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #1a1a1a;
}

.fsWidget .fwRecent:last-child {
	padding-bottom: 0;
	border: none;
}

.fsWidget .fwRecent h6 {
	margin-bottom: 6px;
}

.fsWidget .fwRecent h6 a {
	color: #c4c4c4;
	letter-spacing: 0.5px;
}

.fsWidget .fwRecent ul li {
	font-size: 12px;
	color: #4d4d4d;
	display: inline-block;
	margin-right: 25px;
	position: relative;
}

.fsWidget .fwRecent ul li:last-child:after {
	display: none;
}

.fsWidget .fwRecent ul li:after {
	position: absolute;
	right: -16px;
	top: 0;
	content: "|";
}
