.authButtons {
	display: flex;
	justify-content: space-around;
}

.authButtons a{
	padding: 1em;
	color: white;
    font-weight: bold;
	background-color: #f36100;
    margin-bottom: 8em;
}

.authButtons i {
    margin-left: 0.5em;
}
