.sidebarOption {
	padding-left: 40px;
}

.sidebarOption .soCategories {
    padding-bottom: 2em;
}

.sidebarOption .soCategories .title {
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 1em;
}