.topOption {
    text-align: right;
    padding: 9px 0;
    display: flex;
    justify-content: space-around;
}

.topOption .toSearch {
    display: inline-block;
    padding-right: 20px;
    position: relative;
}

.topOption .toSearch:after {
    position: absolute;
    right: 0;
    top: 5px;
    height: 15px;
    width: 1px;
    background: rgba(255, 255, 255, 0.3);
    content: "";
}

.topOption .toSearch i {
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}

.topOption .user {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.4em;
    position: relative;
}

.topOption .user .welcomeMessage {
    font-size: 1.2em;
    color: #ffffff;
    font-weight: 700;
    width: 100%;
    border: none;
    padding: 14px 8px 12px;
}

/* .user {
    position: relative;
    display: inline-block;
} */
